body{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}
.landingPage{
  background: url("assets/background.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
#landingText{
  color: white;
  font-family: monospace;
  text-align: center;
  margin: 0px;
  font-size: 3vw;
  padding-top: 10vh;
  margin: 0px;
}
#logos{
  color: white;
  font-size: 5vw;
  margin: 0px;
  padding: 0px;
}
#logosDiv{
  text-align: center;
  margin: 0px;
  margin-top: 20vh;
}
h2{
  font-size: 1.5vw;
  padding: 0px;
  margin: 0px;
  margin-top: -20px;
}
.footer{
  color: #fff;
  background-color: #1a222c;
  height: 15vh;
  text-align: center;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}
