#proPic{
    width: 14rem;
    border-radius: 4rem;

}
body {
    background-color: #ffedda;
    font-family: 'Manjari', sans-serif;
}

#mainWrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}
#inner{
    max-width: 100%;
    width: 44rem;
    display: grid;
    grid-template-areas: "picture text";
}
h1{
    color: #ff4c00;
    font-size: 4rem;
    grid-area: text;
    margin-top: 13.5%;
}
h2{
    grid-area: text;
    margin-top: 23.5%;
}
